footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background-color: #414042;
}

footer a {
    color: #707071;
    font-size: 12px;
}